@page "/"

@attribute [Authorize]
<PageTitle>Inicio</PageTitle>
<div class="row pt-5 px-5">
    <div class="col-12">
        <div class="col-12">
            <RadzenText Text="Bienvenido <App Travel Library>" TextStyle="Radzen.Blazor.TextStyle.DisplayH2"
                        TagName="Radzen.Blazor.TagName.Auto"></RadzenText>
            <RadzenText Text="Nuestras fuentes las puedes decargar dese GitHub." TextStyle="Radzen.Blazor.TextStyle.Body1"
                        TagName="Radzen.Blazor.TagName.Auto" class="mt-4" Style="font-size: 20px; line-height: 24px"></RadzenText>
            <RadzenLink Text="Nuestras fuentes las puedes decargar dese GitHub" Path="https://github.com/FactorySoftLatam/travel_test"
                Icon="east" Target="_blank" Style="font-size: 18px"></RadzenLink>
        </div>     
    </div>
</div>

